body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #2c2c2c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    transition: ease-out;
}

.wrapper{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.timer{
    color: #fff;
    font-size: 6rem;
}
